go 1.19

use ./

replace (
    github.com/farseer-go/fs => ../farseer-go/fs
    github.com/farseer-go/data => ../farseer-go/data
    github.com/farseer-go/mapper => ../farseer-go/mapper
    github.com/farseer-go/queue => ../farseer-go/queue
    github.com/farseer-go/utils => ../farseer-go/utils
    github.com/farseer-go/eventBus => ../farseer-go/eventBus
    github.com/farseer-go/collections => ../farseer-go/collections
    github.com/farseer-go/redis => ../farseer-go/redis
    github.com/farseer-go/cache => ../farseer-go/cache
    github.com/farseer-go/elasticSearch	=> ../farseer-go/elasticSearch
    github.com/farseer-go/fss	=> ../farseer-go/fss
    github.com/farseer-go/webapi => ../farseer-go/webapi
)